hypr/hyprland.conf.bak
hypr/hyprland.conf.txt
hypr/hyprpaper.conf.bak
hypr/modules/look.conf.bak
hypr/modules/rules.conf.bak
hypr/modules/rules.conf.newbug

fastfetch/gen.py
fastfetch/gen.py.bak
fastfetch/config.jsonc.bak
fastfetch/config.jsonc.bak.color
fastfetch/config.jsonc.template.bak

cava/config.bak

rofi/gradient.png
rofi/config.rasi.bak

nvim/lazy-lock.json
nvim/lua/kooller/remap.lua.bak
nvim/lua/kooller/remap.lua.bak.bak
nvim/lua/kooller/lazy/colorscheme.lua.bak

waybar/newws.css
waybar/style.css.bak
waybar/config.jsonc.bak
