@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

#custom-sep {
    min-width: 100px;
}

* {
    font-family: "JetBrainsMono Nerd Font", "Material Symbols Rounded", monospace;
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @text;
    border-bottom: transparent;
}

#workspaces button,
#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#tray,
#language,
#custom-bluetooth_battery,
#custom-gpu,
#custom-speed,
#custom-ping,
#custom-updates,
#window {
    color: @text;
    padding: 6px 12px;
    margin: 4px 6px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-image: linear-gradient(__COLOR0__, __COLOR0__), linear-gradient(45deg, __COLOR1__, __COLOR2__);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#language:hover,
#custom-bluetooth_battery:hover,
#custom-gpu:hover,
#custom-speed:hover,
#custom-ping:hover,
#custom-updates:hover,
#window:hover,
#workspaces button.active {
    /*background-image: linear-gradient(@surface1, @surface1),*/
    background-image: linear-gradient(__COLOR4__, __COLOR5__), linear-gradient(45deg, __COLOR1__, __COLOR2__);
    color: __COLOR2__;
    /*box-shadow: 0 0 2px 0px __COLOR1__, 0 0 3px 1px __COLOR2__;*/
    box-shadow: 0 0 3px 1px __COLOR3__;
    /*box-shadow: 0 0 6px 1px rgba(180, 190, 254, 0.4);*/
}

#workspaces button.urgent {
    background-image: linear-gradient(__COLOR0__, __COLOR0__), linear-gradient(45deg, __COLOR1__, __COLOR2__);
    animation: urgentBlink 1.2s infinite;
}

@keyframes urgentBlink {
    0%   { box-shadow: 0 0 4px 1px __COLOR3__; }
    50%  { box-shadow: 0 0 6px 2px __COLOR3__; }
    100% { box-shadow: 0 0 4px 1px __COLOR3__; }
}
